body{background: blanchedalmond;}
.one{width:700px; height: 700px; font-size: 1em;}
h1{text-align: center; background-color: rgb(253, 124, 65);}
ul{background-color: rgb(248, 217, 171);}
img{margin: 10px; margin-left: 50px;}
button{width: 600px;height: 75px;background-color: rgb(168, 126, 99);text-align: center;}
.twoo{font-size: 2em;}
.three{font-size: 2em;}